// COLOR VARIABLES
$clr-dark: rgb(11, 13, 23);
$clr-light: rgb(208, 214, 249);
$clr-white: rgb(255, 255, 255);

/* font-families */
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;
