.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em 0em;
  padding-left: 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
    padding: 0em 0em;
    padding-left: 2em;
  }

  @include respond(phone) {
    align-items: flex-start;
    padding-left: 1rem;
  }

  &__logo {
    @include respond(phone) {
      padding: 2em;
      height: 13rem;
      width: 13rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__line {
    width: 30%;
    height: 0.01rem;
    transform: translateX(20%);
    background-color: rgba($clr-light, 0.2);
    position: relative;
    z-index: 10;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__container {
    width: 60vw;
    padding: 3em 0;
    padding-right: 3em;
    backdrop-filter: blur(8rem);
    background-color: rgba($clr-white, 0.04);

    @include respond(phone) {
      overflow: hidden;
      width: 0;
      opacity: 0;
      height: 100vh;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;

      transition: all 0.4s ease-in-out;
    }
  }

  &__btn,
  &__input {
    display: none;
  }

  &__btn {
    @include respond(phone) {
      display: block;
      position: relative;
      z-index: 100;
      top: 6rem;
      right: 4rem;

      &,
      &::before,
      &::after {
        width: 3.5rem;
        height: 0.2em;
        background-color: $clr-white;

        transition: all 0.4s;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: 0;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }
  }

  &__list {
    width: 70%;
    list-style: none;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      padding: 10em 0;
      align-items: flex-start;
      gap: 5rem;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__item {
    @include respond(phone) {
      width: 100%;
    }
  }

  &__link:link,
  &__link:visited {
    padding: 2.8em 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $clr-light;
    transition: all 0.4s;

    @include respond(tab-port) {
      padding: 2.8em 0;
    }

    @include respond(phone) {
      font-size: 2.6rem;
      padding: 0.5em 0;
    }
  }

  &__link:hover {
    border-bottom: 0.2em solid rgba($clr-light, 0.4);
  }

  &__link:active {
    border-bottom: 0.2em solid rgba($clr-light, 1);
  }

  &__link span {
    padding-right: 1rem;
    color: $clr-white;
    font-weight: 700;

    @include respond(tab-port) {
      display: none;
    }

    @include respond(phone) {
      padding-right: 2rem;
      display: inline-block;
    }
  }
}

@include respond(phone) {
  .nav__input:checked + .nav__btn {
    background-color: transparent;
  }

  .nav__input:checked + .nav__btn::before {
    transform: rotate(-135deg);
    top: 0;
  }

  .nav__input:checked + .nav__btn::after {
    transform: rotate(135deg);
    top: 0;
  }

  .nav__input:checked ~ .nav__container {
    width: 70%;
    opacity: 1;
  }

  .nav__input:checked ~ .nav__container .nav__list {
    opacity: 1;
    visibility: visible;
  }
}
