*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @include respond(tab-land) {
    //is width < 1200px?
    font-size: 56.25%; //1rem = 9px (9/16) = 56.25%
  }

  @include respond(tab-port) {
    //is width < 900px?
    font-size: 54.69%; //1rem = 8px (8/16) = 50%
  }

  @include respond(phone) {
    //is width < 900px?
    font-size: 45%; //1rem = 7px (8/16) = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px (12/16) = 75%
  }
}

body {
  font-family: $ff-sans-normal;
  font-size: 1.8rem;
  color: $clr-white;
  line-height: 1.5;
  min-height: 100vh;
}

// MAKE IMAGES EASIER TO WORK WITH
img,
picture {
  max-width: 100%;
}

// MAKE FORMS EASIER TO WORK WITH
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  margin-inline: auto;
}

#current {
  border-bottom: 0.2em solid $clr-white;
  transition: all 0.4s;
  color: $clr-white;

  @include respond(phone) {
    border-bottom: none;

    &.nav__link:active {
      border-bottom: 0.2em solid rgba($clr-light, 1);
    }
  }
}

#current-2 {
  border-bottom: 0.2em solid $clr-white;
  transition: all 0.4s;
  color: $clr-white;

  @include respond(phone) {
    &.nav__link:active {
      border-bottom: 0.2em solid rgba($clr-light, 1);
    }
  }
}
