.heading--1,
.heading--2,
.heading--3,
.heading--4,
.subheading--1 {
  font-family: $ff-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.heading--5,
.subheading--2,
.nav--text {
  font-family: $ff-sans-cond;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: $clr-light;
}

.heading--1 {
  font-size: 15rem;
  line-height: 17.2rem;

  // @include respond(phone) {
  //   font-size: 13rem;
  //   line-height: 10.2rem;
  // }
}

.heading--2 {
  font-size: 10rem;
  line-height: 11.5rem;
}

.heading--3 {
  font-size: 5.6rem;
  line-height: 6.4rem;

  @include respond(phone) {
    font-size: 4.6rem;
    line-height: 4.4rem;
  }
}

.heading--4 {
  font-size: 3.2rem;
  line-height: 3.7rem;
  color: rgba($clr-white, 0.4);
}

.heading--5 {
  font-size: 2.8rem;
  letter-spacing: 0.472rem;

  // @include respond(phone) {
  //   font-size: 2.3rem;
  // }
}

.subheading--1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.subheading--2 {
  font-size: 1.4rem;
  line-height: 1.68rem;
  letter-spacing: 0.236rem;
}

.nav--text {
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  line-height: 1.92rem;
}

.plain--text {
  font-family: $ff-sans-normal;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 3.2rem;
  color: $clr-light;
}
