.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.bg-dark {
  background-color: $clr-dark;
}
.bg-accent {
  background-color: $clr-light;
}
.bg-white {
  background-color: $clr-white;
}

.text-dark {
  color: $clr-dark;
}
.text-accent {
  color: $clr-light;
}
.text-white {
  color: $clr-white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none !important;
}

.heading--number {
  color: rgba($clr-white, 0.4);
  margin-right: 2rem;
}
